// FAQ
//
// This is the FAQ component. It's an example.
//
// Markup: faq.twig
//
// Style guide: Components.FAQ

// Import site utilities.
@import '../../global/utils/init';

.faq {
  max-width: 700px;
}

.faq-item {
  + .faq-item {
    margin-top: 1.5rem;
  }
}

.faq-item__q {
  font-size: 1rem;
}

.faq-item__a {
  line-height: 1.625;
}

.faq-item__link {
  display: inline-block;
  margin-top: 1rem;
}
