// Button
//
// This is the button component. It's an example.
//
// Markup: button.twig
//
// .button--small - Smaller version of default button.
//
// Style guide: Components.Button

// Import site utilities.
@import '../../global/utils/init';

.button,
input[type='submit'] {
  background-color: $color-blue;
  border: 2px solid $color-blue;
  color: $color-white;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }

  @include breakpoint($bp-sm) {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  &.button--small {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}
