// Form
//
// This is the Form component. It's an example.
//
// Markup: form.twig
//
// Style guide: Components.Form

// Import site utilities.
@import '../../global/utils/init';

.form-item {
  position: relative;

  + .form-item {
    margin-top: 20px;
  }
}

.form-item__input {
  border: 1px solid $color-black;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: 0 0 6px $color-blue;
    outline: none;
  }
}

.form-item__label {
  left: 16px;
  position: absolute;
  top: 16px;
  transition: transform 0.25s;

  .floated &,
  .form-item__input:focus + & {
    transform: translate(-10px, -10px);
    font-size: 0.5rem;
  }
}

input[aria-invalid],
textarea[aria-invalid] {
  + span {
    display: block;
  }
}

.required-field {
  &::after {
    content: '*';
    color: $color-req-red;
    display: inline-block;
  }
}

input[type='submit'] {
  margin-top: 20px;
}

.visually-hidden {
  display: none;
}
