// Hero
//
// This is the Hero component.
// Most often placed at the top of pages.
//
// Markup: hero.twig
//
// Style guide: Components.hero

// Import site utilities.
@import '../../global/utils/init';

.hero {
  position: relative;
}

.hero__content {
  @include center-align(absolute);
  background: $color-alto;
  margin-right: -50%;
  max-width: 95%;
  padding: 1rem;
  text-align: center;

  @include breakpoint($bp-xsm) {
    max-width: 750px;
    padding: 2rem 3rem;
  }
}

.hero__heading {
  @include wire-large-heading;
  margin-bottom: 0.5rem;

  @include breakpoint($bp-xsm) {
    margin-bottom: 1rem;
  }
}

.hero__eyebrow {
  color: $color-tundora;
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @include breakpoint($bp-xsm) {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
}

.hero__body {
  font-size: 1rem;
  line-height: 1.625;
  margin-bottom: 0.5rem;

  @include breakpoint($bp-xsm) {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
