// Gallery Lightbox
//
// This is the Gallery Lightbox component. It uses
// the Colorbox library/module. For this
// component to work, the Colorbox
// min.js file, .css file, and image files
// must be included.
//
// Markup: gallery-lightbox.twig
//
// Style guide: Components.Gallery Lightbox

// Import site utilities.
@import '../../global/utils/init';

.gallery-lightbox {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 1.5rem;

  @include breakpoint($bp-xsm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint($bp-sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.gallery-lightbox-item {
  border: 3px solid transparent;
  margin: auto;
  position: relative;
  transition: border 0.25s;
  overflow: hidden;

  &:hover {
    border: 3px solid $color-blue;

    .gallery-lightbox-item__expand {
      bottom: 10px;
    }
  }
}

.gallery-lightbox-item__media {
  display: block;
}

.gallery-lightbox-item__expand {
  position: absolute;
  right: 10px;
  bottom: -35px;
  transition: bottom 0.25s;
}

.gallery-lightbox__title {
  @include wire-large-heading;
}

// Colorbox overrides
#cboxLoadedContent {
  background: #000;
}
