// Quote
//
// This is the Quote component.
//
// Markup: quote-kss.twig
//
// Style guide: Components.Quote

// Import site utilities.
@import '../../global/utils/init';

.quote {
  text-align: center;
  margin-bottom: 1.875rem;
}

.quote__text {
  font-size: 1.375rem;
  line-height: 1.25;
  margin-bottom: 1.875rem;
  font-style: italic;

  @include breakpoint($bp-xsm) {
    font-size: 1.75rem;
  }
}

.quote__cite {
  font-size: 0.875rem;
  line-height: 1.375;

  @include breakpoint($bp-xsm) {
    font-size: 1rem;
  }
}

.quote--left {
  text-align: left;

  .quote__text {
    text-align: center;

    @include breakpoint($bp-sm) {
      text-align: left;
    }
  }

  .quote__cite {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint($bp-sm) {
      flex-direction: row;
    }
  }

  .quote__cite-media {
    margin: 0 0 1rem;

    @include breakpoint($bp-sm) {
      margin: 0 1.375rem 0 0;
    }

    img {
      border-radius: 100px;
    }
  }
}
