{% if video %}
  <div class="media-item">
    <div class="media-item__responsive-video">
      {{ video }}
    </div>
    {% if caption %}
      <div class="media-item__caption">
        {{ caption }}
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="media-item">
    {{ image }}
    {% if caption %}
      <div class="media-item__caption">
        {{ caption }}
      </div>
    {% endif %}
  </div>
{% endif %}
