// Heading
//
// This is the heading component. It's an example.
//
// Markup: heading.twig
//
// Style guide: Components.heading

// Import site utilities.
@import '../../global/utils/init';

.heading--link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
