{% if section_title %}
  {%
    include '@components/heading/heading.twig' with {
      "title": section_title,
      "heading_level": 2,
      "classes": "gallery-carousel__title"
    } only
  %}
{% endif %}

{% if intro_text %}
  {%
    include '@components/body/body.twig' with {
      "body": intro_text,
      "classes": "gallery-carousel__intro-text"
    } only
  %}
{% endif %}

<ul class="gallery-carousel">

  {% for item in carousel_items %}
    <li class="gallery-carousel-item">
      <img src="{{ item.media }}" class="gallery-carousel-item__media" alt="{{ item.media_description }}"/>
      <p class="gallery-carousel-item__text">{{ item.media_description }}</p>
    </li>
  {% endfor %}

</ul>

<ul class="gallery-carousel__nav">

  {% for item in carousel_nav_items %}
    <li class="gallery-carousel__nav-item">
     <img src="{{ item.media_thumb }}" alt="{{ item.media_thumb_description }}"/>
    </li>
  {% endfor %}

</ul>
